* {
    font-family: ringbearer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ringbearer;
    src: url("../fonts/RINGM___.TTF");
}

html{
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 25px;
}

.cabecalho nav ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.cabecalho nav li a{
    color: #4683B7;
    text-decoration: none;
}

.cabecalho nav li a:hover {
    background-color: #FCBABC;
}

.container__filmes{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.logo img{
    height: 20%;
    width: 20%;
    background-color: #565655;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    color: #b8860c;
}

.container__filmes {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 70px;
    width: 400px;
    height: 720px;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__fundo__sociedade {
    height: 250px;
    background-size: cover;
    background-image: url("../img/primeiro.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__fundo__duastorres {
    height: 250px;
    background-size: cover;
    background-image: url("../img/segundo.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__fundo__retorno {
    height: 250px;
    background-size: cover;
    background-image: url("../img/terceiro.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__fundo__sociedade figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__fundo__duastorres figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__fundo__retorno figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 50%;
}

.card__descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.card__descricao h2 {
    text-align: center;
    color: lightseagreen;
}

.card__descricao p {
    text-align: justify;
    flex-grow: 1;
    padding: 0 20px;
}

.card__descricao span {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.card__botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.card__botao button{ 
    border: 1px solid lightseagreen;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: lightseagreen;
}

.card__botao a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.oscar {
    margin-top: 60px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instagram {
    display: flex;

}
