* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ringbearer;
    src: url("../fonts/RINGM___.TTF");
}

html {
    scroll-behavior: smooth;
}

.cabecalho {
    font-family: ringbearer;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 25px;
}

.cabecalho nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.cabecalho nav li a {
    color: #4683B7;
    text-decoration: none;
}

.cabecalho nav li a:hover {
    background-color: #FCBABC;
}

.logo img {
    padding-top: 15px;
    height: 15%;
    width: 15%;
}

.titulo {
    display: flex;
    padding-right: 75px;
}

.titulo h1 {
    font-size: 40px;
    color: #b8860c;
}

.container__filmes {
    font-family: ringbearer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    width: 400px;
    height: 720px;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__fundo__sociedade {
    height: 250px;
    background-size: cover;
    background-image: url("../img/primeiro.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__fundo__duastorres {
    height: 250px;
    background-size: cover;
    background-image: url("../img/segundo.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__fundo__retorno {
    height: 250px;
    background-size: cover;
    background-image: url("../img/terceiro.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.card__descricao h2 {
    text-align: center;
    color: lightseagreen;
}

.card__descricao p {
    text-align: justify;
    flex-grow: 1;
    padding: 0 20px;
}

.card__descricao span {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.card__botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.card__botao button {
    font-family: ringbearer;
    background-color: lightseagreen;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.card__botao a {
    color: darkslategray;
    text-decoration: none;
    font-size: 20px;
}

.card__botao a:hover {
    background-color: rgb(15, 80, 77);
    color: rgb(240, 240, 240);
}

.contatos {
    padding-top: 5px;
}

.formulario {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario p {
    font-weight: bold;
}

.dados__titulo {
    display: flex;
    justify-content: center;
    background-image: url("../img/cafe.jpg");
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    color: #000000;
}

.formulario__campos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario__campos input, textarea {
    background-color: rgb(240, 240, 240);
    color: darkslategray;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.formulario__radio input {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
}

.formulario__radio input, textarea {
    background-color: rgb(235, 191, 191);
    color: darkslategray;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.formulario__check input{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
}

.formulario__check input, textarea {
    background-color: rgb(240, 240, 240);
    color: darkslategray;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.formulario__dados__botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.formulario__dados__botoes button {
    height: 30px;
    width: 70px;
    background-color: rgb(237, 34, 40);
    border: none;
    border-radius: 5px;
    color: rgb(215, 238, 238);
}

.formulario__dados__botoes button[type="submit"] {
    font-weight: bold;
    background-color: rgb(2, 170, 232);
}

.formulario__dados__botoes button[type="submit"]:hover {
    font-weight: bold;
    background-color: rgb(0, 73, 100);
}

.formulario__dados__botoes button:hover {
    background-color: rgb(99, 0, 3);
    color: rgb(240, 240, 240);
}

/*.formulario__botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.formulario__botoes button {
    height: 30px;
    width: 70px;
    background-color: rgb(237, 34, 40);
    border: none;
    border-radius: 5px;
    color: rgb(215, 238, 238);
}

.formulario__botoes button[type="submit"] {
    font-weight: bold;
    background-color: rgb(2, 170, 232);
}

.formulario__botoes button[type="submit"]:hover {
    font-weight: bold;
    background-color: rgb(0, 73, 100);
}

.formulario__botoes button:hover {
    background-color: rgb(99, 0, 3);
    color: rgb(240, 240, 240);
}*/